.about-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.my-photo-left {
    width: 50%;
    text-align: justify;
}

.my-photo-left img {
    width: 70%;
}

.detail-para-right {
    width:  50%;
    // overflow: hidden;
}

.about h2,
.projects h2,
.title h2,
.contact-me h2 {
    margin: 100px 0;
    text-align: center;
    border-bottom: 2px solid #B30048;
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 3vw;
}

.follow h2,
.contact h2 {
    border-bottom: 2px solid #B30048;
    text-transform: uppercase;
    font-size: 3vw;
}