.about-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.my-photo-left {
    width: 50%;
    text-align: justify;
}

.my-photo-left img {
    width: 70%;
}

.detail-para-right {
    width:  50%
}

.about h2 {
    justify-content: center;
}

.box-box1{
    display: flex;
}
.box-text,
.box-img {
    width: 50%;
}

.box-img img {
    width: 50%;
}


.gallery {
    display: flex;
}

