
@media (max-width:845px) {

    .show {
        width: 86%;
        clip-path: none;
        height: auto;
    }

    .menu {
        background: rgba(0, 0, 0, 1);
    }

    .fa-bars {
        margin-top: 22px;
    }

    .about h2,
    .projects h2,
    .title h2,
    .contact-me h2 {
        font-size: 5vw;
        margin: 18% 0 15% 0;
    }

    .about-content {
        flex-direction: column;
    }

    .my-photo-left {
        width: auto;
        margin: 0 auto;
    }

    .my-photo-left img {
        width: 50%;
        margin: 0 auto;
    }

    .detail-para-right {
        width: auto;
        margin: 0 auto;
        margin: 0px 15px;
        text-align: center;
    }


    .button-resume {
        display: block;
        font-size: .9rem;
        text-align: center;
    }

    .section--portfolio-two-col-right {
        flex-direction: column-reverse;
        text-align: center;
        margin-bottom: 100px;
    }

    .section--portfolio-two-col-left {
        flex-direction: column;
        text-align: center;
        margin-bottom: 100px;
    }

    .section--portfolio-text-buttons,
    .section--portfolio-image {
        width: 100%;
    }

    .button-portfolio-right,
    .button-portfolio-left {
        display: block;
    }

    .follow h2,
    .contact h2 {
        font-size: larger;
    }

    .contact {
        width: 100%;
    }

    .contact button[type="submit"] {
        padding: 10px 30px;
        font-size: 1rem;
    }

}    

@media (max-width:625px) {

    h1 {
        margin:12% 0 0 31%;
        width: 230px;
        height: 470px;
    }

    .sidesticky {
        width: 10%;
    }

    .sidesticky p {
        font-size: 3.5vw;
    }

    .about h2,
    .projects h2,
    .title h2,
    .contact-me h2 {
        font-size: 7vw;
    }

    .contact-page {
        flex-direction: column;
    }

    .follow {
        margin: 0;
        width: initial;
    }

}

@media (max-width:500px) {

    .main-header-content {
        height: auto;
    }

    h1 {
        margin: 10% 0 0 24%;
        width: 230px;
        height: 470px;
    }

}


@media (max-width:320px) {


    h1 {
        margin: 15% 0 24% 24%;
        border: 10px solid #B30048;
        width: 167px;
        height: 280px;
        font-size: 10.5vw;
    }
}    
