// .box-box {
//     // height: 100vh;
//     display: none;
//     border: 1px solid white;
// }



// box1-text,
// box2-text,
// box3-text,
// box4-text {
//     width: 50%;
// }

// .expand {
//     display: block;
// }



// .gallery {
//     display: flex;
// }


.section--portfolio-two-col-left,
.section--portfolio-two-col-right {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.section--portfolio-image {
    width: 50%;
}

.section--portfolio-text-buttons {
    width: 50%;
    padding: 0% 5%;
}


.section--portfolio-two-col-right {
    text-align: right;
    

}

.section--portfolio-two-col-left {
    text-align: left;
    
}


.button-portfolio-right,
.button-portfolio-left {
    color: white;
    background: #B30048;
    font-family: "Roboto",
    sans-serif;
    border: none;
    border-radius: 0;
    font-size: 18px;
    font-size: 1rem;
    padding: 10px 30px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    text-decoration: none;
    margin-top: 15px;
}

.button-portfolio-right:hover,
.button-portfolio-left:hover {
    background: #DC4481;
 }

// {
//     padding-left: 10px;
//     text-align: center;
// }


