.box-box {
    // height: 100vh;
    display: none;
    border: 1px solid white;
}

box1-text,
box2-text,
box3-text,
box4-text {
    width: 50%;
}


// .image-box1 img,
// .image-box2 img,
// .image-box3 img,
// .image-box4 img {
//     width: 75%;
//     height: 75%;
// }



// // .boxes {
// //     display: flex;
// //     border: 1px solid white;
// // }


// .box1-text,
// .image-box1 {
//     width: 50%;
//     display: none;
// }

// .box2-text,
// .image-box2{
//     width: 50%;
//     display: none;
// }

// .box3-text,
// .image-box3 {
//     width: 50%;
//     display: none;
// }

// .box4-text,
// .image-box4 {
//     width: 50%;
//     display: none;
// }



.gallery {
    display: flex;
}

.expand {
    display: block;
}