.section--tech-skills-icons {
    display: flex;
    flex-wrap: wrap;
    // border: 1px solid white;
    margin: 0 auto;
    // margin: 10px;
    width: calc(69% - 20px);
    justify-content: center;
}

.skills {
    // border: 1px solid white;
    margin: 10px;

}

.title h2 {
    text-align: center;
}

.icon-style {
    border: 1px solid #B30048;
    color: #B30048;
    padding: 15px;
    font-size: 83px;
    // font-size: 8.3rem;
    margin: 20px;
}

.icon-style:hover {
    color: #DC4481;
}


.section--tech-skills-icons p {
    text-align: center;
}