article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

ul li {
  list-style-type: none;
  border-bottom: 2px solid #B30048;
  padding: 15px;
}

.hamburger,
.exit-responsive {
  display: block;
  font-size: 25px;
  padding-top: 5%;
}

.hamburger {
  margin: 0 0 0 45px;
  position: fixed;
  padding-top: 5%;
}

.menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #B30048;
  z-index: 1000;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
  transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
}

.menu ul a {
  font-size: 30px;
  text-align: right;
  width: 20%;
  text-decoration: none;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
}

.menu ul a:hover {
  font-weight: bold;
}

.show {
  display: block;
  width: 30%;
  -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  -webkit-transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
  transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
}

html {
  font-size: 125%;
  margin: 0;
  padding: 0;
  background: black;
  color: white;
}

body {
  height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section {
  width: 100vw;
}

h2, h3, h4 {
  font-family: 'Open Sans Condensed', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  max-width: 1600px;
  width: 95%;
  margin: 0 auto;
  margin-right: 10%;
}

.full-page {
  width: 80%;
  margin-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
  height: 100%;
}

.main-header-content {
  background-image: url(./assets/stars.jpg);
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
  padding-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

h1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  margin: 0 0 0 38%;
  border: 15px solid #B30048;
  width: 250px;
  height: 500px;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 7.5vw;
}

.tracking-in-contract {
  -webkit-animation: tracking-in-contract 1.3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract 1.3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-6-19 13:16:1
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation tracking-in-contract
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

h1 span:nth-child(1) {
  /* E */
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

h1 span:nth-child(2) {
  /* V */
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  grid-row: 1;
}

h1 span:nth-child(3) {
  /* E */
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 1;
  grid-row: 1;
}

h1 span:nth-child(4) {
  /* R */
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-row: 1;
  grid-row: 1;
}

h1 span:nth-child(5) {
  /* Y */
  -ms-grid-column: 6;
  grid-column: 6;
  -ms-grid-row: 1;
  grid-row: 1;
}

h1 span:nth-child(6) {
  /* W */
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-row: 2;
  grid-row: 2;
}

h1 span:nth-child(7) {
  /* A */
  -ms-grid-column: 6;
  grid-column: 6;
  -ms-grid-row: 2;
  grid-row: 2;
}

h1 span:nth-child(8) {
  /* L */
  -ms-grid-column: 7;
  grid-column: 7;
  -ms-grid-row: 2;
  grid-row: 2;
}

h1 span:nth-child(9) {
  /* L */
  -ms-grid-column: 8;
  grid-column: 8;
  -ms-grid-row: 2;
  grid-row: 2;
}

h1 span:nth-child(10) {
  /* I */
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 3;
  grid-row: 3;
}

h1 span:nth-child(11) {
  /* S */
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 3;
  grid-row: 3;
}

h1 span:nth-child(12) {
  /* A */
  -ms-grid-column: 6;
  grid-column: 6;
  -ms-grid-row: 3;
  grid-row: 3;
}

h1 span:nth-child(13) {
  /* D */
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 4;
  grid-row: 4;
}

h1 span:nth-child(14) {
  /* O */
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 4;
  grid-row: 4;
}

h1 span:nth-child(15) {
  /* O */
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 4;
  grid-row: 4;
}

h1 span:nth-child(16) {
  /* R */
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-row: 4;
  grid-row: 4;
}

span {
  font-weight: bold;
}

.button-resume {
  color: white;
  background: #B30048;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 0;
  font-size: 18px;
  font-size: 1rem;
  padding: 10px 30px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-decoration: none;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidesticky {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
}

.sidesticky {
  background: #B30048;
  height: 100vh;
  width: 5%;
  top: 0;
  right: 0;
  position: fixed;
  padding: 0;
}

.sidesticky p {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-family: 'Roboto', sans-serif;
  font-size: 1.5vw;
  font-weight: bold;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #fff;
  padding: 62px 0px;
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.my-photo-left {
  width: 50%;
  text-align: justify;
}

.my-photo-left img {
  width: 70%;
}

.detail-para-right {
  width: 50%;
}

.about h2,
.projects h2,
.title h2,
.contact-me h2 {
  margin: 100px 0;
  text-align: center;
  border-bottom: 2px solid #B30048;
  text-transform: uppercase;
  padding-bottom: 10px;
  font-size: 3vw;
}

.follow h2,
.contact h2 {
  border-bottom: 2px solid #B30048;
  text-transform: uppercase;
  font-size: 3vw;
}

.section--portfolio-two-col-left,
.section--portfolio-two-col-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.section--portfolio-image {
  width: 50%;
}

.section--portfolio-text-buttons {
  width: 50%;
  padding: 0% 5%;
}

.section--portfolio-two-col-right {
  text-align: right;
}

.section--portfolio-two-col-left {
  text-align: left;
}

.button-portfolio-right,
.button-portfolio-left {
  color: white;
  background: #B30048;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 0;
  font-size: 18px;
  font-size: 1rem;
  padding: 10px 30px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-decoration: none;
  margin-top: 15px;
}

.button-portfolio-right:hover,
.button-portfolio-left:hover {
  background: #DC4481;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* Container around content */
.container1 {
  padding: 10px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: inherit;
  width: 50%;
  border: 1px solid white;
}

/* The circles on the timeline */
/* Place the container to the left */
/* Place the container to the right */
/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: transparent;
  position: relative;
  border-radius: 6px;
}

@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }
  /* Full-width containers */
  .container1 {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  /* Make sure that all arrows are pointing leftwards */
  .container1::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }
  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

.section--tech-skills-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  width: calc(69% - 20px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills {
  margin: 10px;
}

.title h2 {
  text-align: center;
}

.icon-style {
  border: 1px solid #B30048;
  color: #B30048;
  padding: 15px;
  font-size: 83px;
  margin: 20px;
}

.icon-style:hover {
  color: #DC4481;
}

.section--tech-skills-icons p {
  text-align: center;
}

.contact-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.follow {
  width: 50%;
  padding: 25px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 85px;
}

.container2 {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-top: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea,
.contact button[type="submit"] {
  font: 400 12px/16px "Roboto", sans-serif;
}

.contact {
  padding: 25px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

.contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none;
  color: white;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  text-align: left;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
  border-bottom: 2px solid white;
  margin-bottom: 5vh;
  padding: 10px;
  color: white;
}

.contact input[type="text"]:hover,
.contact input[type="email"]:hover,
.contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #B30048;
}

.contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

.contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #B30048;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

.contact button[type="submit"]:hover {
  background: #DC4481;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.contact button[type="submit"]:active {
  -webkit-box-shadow: inset 0 1px 3px white(0, 0, 0, 0.5);
          box-shadow: inset 0 1px 3px white(0, 0, 0, 0.5);
}

.contact input:focus,
.contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: white;
  font-size: 1rem;
}

:-ms-input-placeholder {
  color: white;
  font-size: 1rem;
}

::-ms-input-placeholder {
  color: white;
  font-size: 1rem;
}

::placeholder {
  color: white;
  font-size: 1rem;
}

.follow a {
  color: #B30048;
  text-decoration: none;
}

.follow a:hover {
  color: #DC4481;
}

footer {
  margin: 50px 0 10px 0;
  background-image: url(./assets/stars.jpg);
}

footer p {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #fff;
  padding: 0;
  margin: 0;
  text-align: center;
}

@media (max-width: 845px) {
  .show {
    width: 86%;
    -webkit-clip-path: none;
            clip-path: none;
    height: auto;
  }
  .menu {
    background: black;
  }
  .fa-bars {
    margin-top: 22px;
  }
  .about h2,
  .projects h2,
  .title h2,
  .contact-me h2 {
    font-size: 5vw;
    margin: 18% 0 15% 0;
  }
  .about-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .my-photo-left {
    width: auto;
    margin: 0 auto;
  }
  .my-photo-left img {
    width: 50%;
    margin: 0 auto;
  }
  .detail-para-right {
    width: auto;
    margin: 0 auto;
    margin: 0px 15px;
    text-align: center;
  }
  .button-resume {
    display: block;
    font-size: .9rem;
    text-align: center;
  }
  .section--portfolio-two-col-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
    margin-bottom: 100px;
  }
  .section--portfolio-two-col-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-bottom: 100px;
  }
  .section--portfolio-text-buttons,
  .section--portfolio-image {
    width: 100%;
  }
  .button-portfolio-right,
  .button-portfolio-left {
    display: block;
  }
  .follow h2,
  .contact h2 {
    font-size: larger;
  }
  .contact {
    width: 100%;
  }
  .contact button[type="submit"] {
    padding: 10px 30px;
    font-size: 1rem;
  }
}

@media (max-width: 625px) {
  h1 {
    margin: 12% 0 0 31%;
    width: 230px;
    height: 470px;
  }
  .sidesticky {
    width: 10%;
  }
  .sidesticky p {
    font-size: 3.5vw;
  }
  .about h2,
  .projects h2,
  .title h2,
  .contact-me h2 {
    font-size: 7vw;
  }
  .contact-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .follow {
    margin: 0;
    width: initial;
  }
}

@media (max-width: 500px) {
  .main-header-content {
    height: auto;
  }
  h1 {
    margin: 10% 0 0 24%;
    width: 230px;
    height: 470px;
  }
}

@media (max-width: 320px) {
  h1 {
    margin: 15% 0 24% 24%;
    border: 10px solid #B30048;
    width: 167px;
    height: 280px;
    font-size: 10.5vw;
  }
}
/*# sourceMappingURL=styles.css.map */